@import url('https://fonts.googleapis.com/css2?family=Alice&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body{
    background-color: #e3f2fd;
    margin: auto;
    max-width: 1200px;
}
main {
    font-family: 'Alice', serif;
}
header {
    width: 100%;
    font-family: 'Mochiy Pop P One', sans-serif;
    align-content: center;
    text-align: center;
    background-color: #3d5a80;
    color: white;
    border: 2px groove gray;
    border-radius: 10px;
}

footer {
    width: 100%;
    align-content: left;
    display:inline-flex;
    background-color: #3d5a80;
    font-family: 'Mochiy Pop P One', sans-serif;
    color: white;
    border-style: groove;
    border-color:gray;
    font-size: 20%;
}
section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5px; 
}
div {
    border-radius: 10px;
    border: 2px groove gray;
    padding: 3px;

}

.principles h2 {
    font-family: 'Mochiy Pop P One', sans-serif;
    text-align: center;
    background-color: #3d5a80;
    color: white;
    width: 100%;

}
.principles img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.principles a{
    display: block;
    align-items: center;
}
.principles p{
    font-family: 'Alice', serif;
    text-align: justify;
    padding: 5px;

}