main {
    margin: auto;
    padding: 10 px;
    max-width: 760px;
    align-content: center;
}

body {
    background-color: #F5CAC3;
    color: navy;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 25px;
    margin-left: auto;
    margin-right: auto;
}
img {
    padding: 10px 10px 10px 10px;
}

h1 {
    text-align: center;
    padding: 5px;
}

.placeholder {
    display: block;
    width: 450px;
    height: 450px;
    background-color:rgb(104, 179, 154);
    border: 2px solid gray;
    border-radius: 2px;
}