main {
    margin: auto;
    padding: 10 px;
    max-width: 760px;

}

body {
    background-color: #F5CAC3;
    color: navy;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

}

h1 {
    text-align: center;
    padding: 5px;
}

picture {
    display: flex;
    background-color:rgb(104, 179, 154);
    border: 2px solid gray;
    border-radius: 2px;
    padding: 10px 10px 10px 10px;
    vertical-align: center;
    justify-content: center;
}