/* CSS HEX 
--Lightest blue: #E0FBFC;
--Blue gray: #98C1D9;
--Accent Orange: #EE6C4D;
--Dark Navy:  #293241;
*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
/* font-family: 'Marcellus', serif; */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display:wght@600&display=swap');
/* font-family: 'Playfair display', serif; */

* {
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
}
header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80% 20%;
    height: 200px;
    background-color: #293241;
    color:#98c1d9;
    font-family: 'Playfair display', serif;
}
header img {
    /* width: 100px; */
    padding: 15px;
    grid-column: 1;
    grid-row: 1;
}

.banner{
    background-color: #ee6c4d;
    color:#293241;
    font-family: "Marcellus", serif;
    font-size: 20px;
    text-align: center;
    display: block;
}

.date {
    grid-column: 2;
    grid-row: 2;
}

.social {
    grid-column: 3;
    grid-row: 1;
}

nav {
    margin: 0 auto;
}

.navigation {
    background-color: #ee6c4d;
    color: #293241;
    font-family: "Playfair display", serif;
    list-style: none;
    padding: 0;
}

.navigation a.ham::before{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.navigation a {
    display: block;
    flex: 1 1 100%;
    list-style: none;
    text-decoration: none;
    text-align: center;
    padding: 0.75rem;
}

.navigation a:hover{
    color: #98c1d9;
    background-color:#293241
}

.navigation li:first-child{
    display: block;
}
.navigation li {
	display: none;
}

.responsive li{
    display: block;
}

body{
    background-color:#98c1d9
}

.grid1 {
    position: relative;
    background-color:#e0fbfc;
    border: 2px solid gray;
    border-radius: 5px;
    width: 100%;
    height: 100%; 
    text-align: center;
}
.grid1 img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.hero img {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.hero button{
    position: absolute;
    background-color:#293241;
    color:#ee6c4d;
    font-size: 15pt;
    border-radius: 5px;
    bottom: 25%;
    right: 25%;
}
.spotlights section {
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
}
.spotlights section {
    overflow: hidden;
}
.join button{
    background-color:#293241;
    color:#ee6c4d;
    font-size: 15pt;
    border-radius: 5px;
    width: 90%;
}

main {
    font-family: "Marcellus", serif;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    border: 3px gray;
}

h1 h2 h3 {
    background-color: #293241;
    color: #98c1d9;
    font-family: 'Marcellus', serif;
}

footer {
    background-color: #293241;
    color: #98c1d9;
    text-align: center;
    padding: 5px;
}
footer .img {
    width: 30px;
}
footer a{
    font-size:15px;
    color: white;
}
footer a:visited{
    color:white;
}

.photoCred {
    font-size: 8px;
}