@media only screen and (min-width: 60em){
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
    }
    .grid1 {
        width: 1fr;
    }

    .hero {
        grid-column: 2;
        grid-row: 1;
    }
    img.hero {
        height: 80%;
        position: relative;
        background-size: cover;
        background-position: center;
        padding: 0;
        margin: 0;
    }
    button.hero{
        position: aboslute;
        bottom: 45%;
        right: 45%;
    }

    .spotlights {
        grid-column: 3;
        grid-row: 1 / 3;
    }
    .spotlights section {
        display: vertical;
    }
    .events {
        grid-column: 1;
        grid-row: 1;
    }
    .news {
        grid-column: 2;
        grid-row: 2;   
    }
    .news img{
        max-width: 50%;
    }

    .weather {
        grid-column: 1;
        grid-row: 2;
    }
    .joinUs {
        display: none;
    }

/*-----------Directory----------------*/
    .dir-cards.tile{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-auto-flow: column;
        gap: 5px;
        }


/*--------- Discover --------*/
    main.discover {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        gap: 15px;
    }   
    div.discover {
        max-width: 325px;
    }

    

}