@media only screen and (min-width: 60em){
    .index main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
    }
    .grid1 {
        width: 1fr;
    }

    .hero {
        grid-column: 2;
        grid-row: 1;
    }
    .hero img {
        width: 100%;
        height: 100%;
    }

    .spotlights {
        grid-column: 3;
        grid-row: 1 / 3;
    }
    .spotlights section {
        display: vertical;
    }
    .events {
        grid-column: 1;
        grid-row: 1;
    }
    .news {
        grid-column: 2;
        grid-row: 2;
    }
    .weather {
        grid-column: 1;
        grid-row: 2;
    }
    .joinUs {
        display: none;
    }

/*-----------Directory----------------*/
    .dir-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px;
    }
    .dirMembers{
        grid-column-start: 1;
        width: 100%;
    }

/*--------- Discover --------*/
    .discover main{
        display: grid;
        grid-template-columns: 350px 350px 350px;
        gap: 15px;
    }   
    .discover div{
        max-width: 325px;
    }
    .discover picture{
        max-width: 320px;
    }
    

}