@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300&family=Great+Vibes&family=Marcellus&display=swap');

/* Typeface
Body Content: font-family: 'Marcellus', serif;
Headings:  font-family: 'Frank Ruhl Libre', serif;
Header:  font-family: 'Great Vibes', cursive;
*/

/* Color Scheme
Main Background: #FBF8EE;
Header background: #37666C;
Notices background: #EED595;
Main text color: black;
Tile background: #9DBEBB;
Text-On-Dark-Color: #FBF8EE;
*/

*{
    max-width: 1000px;
    margin: auto;
}
header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100%;
    background-color: #37666C;
    color: #fbf8ee;
    height: 200px;
    text-align: center;
    align-items: center;
}
header h1 {
    grid-column: 2;
    grid-row: 1;
    display: inline-block;
    font-family: 'Great Vibes', cursive;
    font-size: 45pt;
}
header picture {
    grid-row: 1;
    grid-column: 1;
}
header section {
    grid-row: 1;
    grid-column: 3;
} 
nav {
    background-color: #eed595;
    color: #37666c;
    font-family:'marcellus', serif;
}
nav ul {
    display: inline;
    list-style: none;
    width: 100%;
}
nav a:hover {
    background-color: lightgray;
    max-width: 100%;
}
nav a {
    display: block;
    flex: 1 1 100%;
    padding: 20px;
    text-align: center; 
    padding: 0.75rem;
}

h1 h2 {
    background-color: #37666C;
    color: #fbf8ee;
    font-family: 'Frank Ruhl Libre', serif;
}

body {
    background-color:#fbf8ee;
    font-family: 'marcellus', serif;
}
.grid1 {
    display: grid;
    grid-template-columns: 1; 
    grid-template-rows: auto;
}
.hero img {
    width: 100%;
    height: auto;
    
}
.index section{
    display:block;
    border: 2px solid gray;
    border-radius: 5px; 
}