/* CSS HEX 
--eggshell: #f4f1deff;
--deep-champagne: #f2cc8fff;
--blue-ncs: #118ab2ff;
--independence: #3d405bff;
*/

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
/* font-family: 'Marcellus', serif; */
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Playfair+Display:wght@600&display=swap');
/* font-family: 'Playfair display', serif; */



* {
    max-width: 767px;
    margin: auto;

}
header {
    width: 100%;
    align-content: center;
    background-color: #3d405b;
    color:white;
}

nav {
    background-color: #3d405b;
    text-align: center;
}
nav ul{
    list-style-type: none;
}
nav a {
    display: inline-block;
    text-align: center;
    color:#f2cc8f;
}

body {
    align-content: center;
    background-color: #f4f1de;

}

h1 h2 h3 {
    background-color: #3d405b;
    color: #f4f1de;

}