@media only screen and (min-width: 32.5em)  {

    header {
        display: flex;
    }
    h1{
        padding: 5px;
        font-size: 2rem;
    }
    nav ul{
        display: flex;
    }

    nav li{
        flex: 1 1 100%;
    }
    footer {
        display: inline-flex;
        background-color: #293241;
        color: #EE6C4D;
        font-size: 50%;
    }
}